@import "../../../node_modules/bulma/bulma.sass";


label {
    padding-right: 3vh;
   

}

.form{
    margin-top: 10vh;
    margin-left : 20vh;
    margin-right: 20vh;
}

.navbar-menu .navbar-item {
    font-size: 2em;
}

